In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../tweets.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23905 entries, 0 to 23904
Data columns (total 34 columns):
id                 23905 non-null int64
conversation_id    23905 non-null int64
created_at         23905 non-null int64
date               23905 non-null object
time               23905 non-null object
timezone           23905 non-null object
user_id            23905 non-null int64
username           23905 non-null object
name               23905 non-null object
place              187 non-null object
tweet              23905 non-null object
mentions           23905 non-null object
urls               23905 non-null object
photos             23905 non-null object
replies_count      23905 non-null int64
retweets_count     23905 non-null int64
likes_count        23905 non-null int64
hashtags           23905 non-null object
cashtags           23905 non-null object
link               23905 non-null object
retweet            23905 non-null bool
quote_url          3717 non-null object
video              23905 non-null int64
near               0 non-null float64
geo                0 non-null float64
source             0 non-null float64
user_rt_id         0 non-null float64
user_rt            0 non-null float64
retweet_id         0 non-null float64
reply_to           23905 non-null object
retweet_date       0 non-null float64
translate          0 non-null float64
trans_src          0 non-null float64
trans_dest         0 non-null float64
dtypes: bool(1), float64(10), int64(8), object(15)
memory usage: 6.0+ MB

In [6]:
df[['username', 'tweet']].head(5)

     username                                              tweet
0  axel_ronse  Wat is er in godsnaam mis met dividenden? Wie ...
1  axel_ronse  Een cadeautje van de schoonmoeder, altijd geva...
2  axel_ronse  maar je zus betaalt mss ook de helft van het c...
3  axel_ronse                        Ik geef je alvast 5 frank ðŸ‘Œ
4  axel_ronse  Altijd zo zuur. Ik hoop dat de feestdagen je d...

In [7]:
tweets = df[['username', 'tweet']]

In [8]:
tweets.to_csv('tweets_set.csv', index=False)

In [9]:
from sklearn.model_selection import train_test_split

In [16]:
train, test = train_test_split(tweets, test_size=0.5)

In [22]:
train.to_csv('train_set.csv', index=False)

In [23]:
test.to_csv('test_set.csv', index=False)