In [944]:
import pandas as pd 
import seaborn as sb

In [945]:
bevolking = pd.read_csv('bevolking.csv')
asielcentra = pd.read_csv('asielcentra.csv', sep=';')

In [946]:
bevolking.columns = bevolking.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '').str.replace('-', '')
asielcentra.columns = asielcentra.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '').str.replace('-', '')

In [947]:
bevolking.rename(columns={'bevolking_op_01_januari_2000':2000, 'bevolking_op_01_januari_2001':2001, 'bevolking_op_01_januari_2002':2002, 'bevolking_op_01_januari_2003':2003, 'bevolking_op_01_januari_2004':2004, 'bevolking_op_01_januari_2005':2005, 'bevolking_op_01_januari_2006':2006, 'bevolking_op_01_januari_2007':2007, 'bevolking_op_01_januari_2008':2008, 'bevolking_op_01_januari_2009':2009, 'bevolking_op_01_januari_2010':2010, 'bevolking_op_01_januari_2011':2011, 'bevolking_op_01_januari_2012':2012, 'bevolking_op_01_januari_2013':2013, 'bevolking_op_01_januari_2014':2014, 'bevolking_op_01_januari_2015':2015, 'bevolking_op_01_januari_2016':2016, 'bevolking_op_01_januari_2017':2017, 'bevolking_op_01_januari_2018':2018, 'bevolking_op_01_januari_2019':2019}, inplace=True)

In [948]:
bevolking = bevolking[bevolking.nationaliteit.isna()]

In [949]:
bevolking = bevolking.melt(id_vars=['gemeente'], value_vars=[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [950]:
bevolking.aantal = bevolking.aantal.astype(int)

In [951]:
asielcentra = asielcentra.fillna(0)

In [952]:
asielcentra.inwoners = asielcentra.inwoners.astype(int)

In [953]:
gemeentes = asielcentra.gemeente.unique().tolist()

In [954]:
subset = bevolking[bevolking.gemeente.isin(gemeentes)]

In [955]:
subset.gemeente.unique()

array(['Ranst', 'Mechelen', 'Arendonk', 'Steenokkerzeel', 'Zaventem',
       'Zoutleeuw', 'Scherpenheuvel-Zichem', 'Langemark-Poelkapelle',
       'Eeklo', 'Sint-Niklaas (Sint-Niklaas)', 'Leopoldsburg',
       'Heusden-Zolder', 'Lommel', 'Houthalen-Helchteren'], dtype=object)

In [956]:
new = asielcentra.merge(subset, on=['gemeente', 'jaar'], how='left')

In [957]:
new = new[['gemeente', 'jaar', 'aantal', 'misdrijf']]

In [958]:
new.rename(columns={'aantal':'inwoners'}, inplace=True)

In [959]:
new[new.inwoners.isnull()]

,gemeente,jaar,inwoners,misdrijf
360,Deurne,2000,NaN,Diefstal en afpersing
361,Deurne,2000,NaN,Beschadigen van eigendom
362,Deurne,2000,NaN,Misdr. tegen de lichamelijke integriteit
363,Deurne,2000,NaN,Vreemdelingenwetgeving
364,Deurne,2000,NaN,Drugs
...,...,...,...,...
895,Neder-Over-Heembeek,2019,NaN,Drugs
896,Neder-Over-Heembeek,2019,NaN,Dronkenschap en alcohol
897,Neder-Over-Heembeek,2019,NaN,Misdr. tegen de openbare veiligheid
898,Neder-Over-Heembeek,2019,NaN,Zedenmisdrijven
899,Neder-Over-Heembeek,2019,NaN,Wapens en springstoffen

In [960]:
new = new.fillna(0)

In [961]:
new.inwoners = new.inwoners.astype(int)

In [962]:
new.gemeente.unique()

array(['Arendonk', 'Ranst', 'Deurne', 'Lommel', 'Neder-Over-Heembeek',
       'Langemark-Poelkapelle', 'Steenokkerzeel', 'Zaventem', 'Zoutleeuw',
       'Eeklo', 'Heusden-Zolder', 'Houthalen-Helchteren', 'Leopoldsburg',
       'Mechelen', 'Sint-Niklaas (Sint-Niklaas)', 'Scherpenheuvel-Zichem'],
      dtype=object)

In [963]:
arendonk = pd.read_csv('cijfers_arendonk.csv', sep=';')

In [964]:
arendonk.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019}, inplace=True)

In [965]:
arendonk = arendonk.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [966]:
arendonk = arendonk.fillna(0)

In [967]:
arendonk.aantal = arendonk.aantal.astype(int)

In [968]:
arendonk.insert(0, 'gemeente', 'Arendonk')

In [969]:
eeklo = pd.read_csv('cijfers_eeklo.csv', sep=';')

In [970]:
eeklo.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [971]:
eeklo = eeklo.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [972]:
eeklo = eeklo.fillna(0)

In [973]:
eeklo.aantal = eeklo.aantal.astype(int)

In [974]:
eeklo.insert(0, 'gemeente', 'Eeklo')

In [975]:
heusden = pd.read_csv('cijfers_heusdenzolder.csv', sep=';')

In [976]:
heusden.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [977]:
heusden = heusden.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [978]:
heusden = heusden.fillna(0)

In [979]:
heusden.aantal = heusden.aantal.astype(int)

In [980]:
heusden.insert(0, 'gemeente', 'Heusden-Zolder')

In [981]:
houthelch = pd.read_csv('cijfers_houthelch.csv', sep=';')

In [982]:
houthelch.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [983]:
houthelch = houthelch.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [984]:
houthelch = houthelch.fillna(0)

In [985]:
houthelch.aantal = houthelch.aantal.astype(int)

In [986]:
houthelch.insert(0, 'gemeente', 'Houthalen-Helchteren')

In [987]:
langpoel = pd.read_csv('cijfers_langpoel.csv', sep=';')

In [988]:
langpoel.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [989]:
langpoel = langpoel.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [990]:
langpoel = langpoel.fillna(0)

In [991]:
langpoel.aantal = langpoel.aantal.astype(int)

In [992]:
langpoel.insert(0, 'gemeente', 'Langemark-Poelkapelle')

In [993]:
leopoldsburg = pd.read_csv('cijfers_leopoldsburg.csv', sep=';')

In [994]:
leopoldsburg.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [995]:
leopoldsburg = leopoldsburg.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [996]:
leopoldsburg = leopoldsburg.fillna(0)

In [997]:
leopoldsburg.aantal = leopoldsburg.aantal.astype(int)

In [998]:
leopoldsburg.insert(0, 'gemeente', 'Leopoldsburg')

In [999]:
lommel = pd.read_csv('cijfers_lommel.csv', sep=';')

In [1000]:
lommel.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [1001]:
lommel = lommel.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [1002]:
lommel = lommel.fillna(0)

In [1003]:
lommel.aantal = lommel.aantal.astype(int)

In [1004]:
lommel.insert(0, 'gemeente', 'Lommel')

In [1005]:
mechelen = pd.read_csv('cijfers_mechelen.csv', sep=';')

In [1006]:
mechelen.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [1007]:
mechelen = mechelen.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [1008]:
mechelen = mechelen.fillna(0)

In [1009]:
mechelen.aantal = mechelen.aantal.astype(int)

In [1010]:
mechelen.insert(0, 'gemeente', 'Mechelen')

In [1011]:
ranst = pd.read_csv('cijfers_ranst.csv', sep=';')

In [1012]:
ranst.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [1013]:
ranst = ranst.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [1014]:
ranst = ranst.fillna(0)

In [1015]:
ranst.aantal = ranst.aantal.astype(int)

In [1016]:
ranst.insert(0, 'gemeente', 'Ranst')

In [1017]:
scherpenheuvel = pd.read_csv('cijfers_scherpenheuvel.csv', sep=';')

In [1018]:
scherpenheuvel.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [1019]:
scherpenheuvel = scherpenheuvel.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [1020]:
scherpenheuvel = scherpenheuvel.fillna(0)

In [1021]:
scherpenheuvel.aantal = scherpenheuvel.aantal.astype(int)

In [1022]:
scherpenheuvel.insert(0, 'gemeente', 'Scherpenheuvel-Zichem')

In [1023]:
sintniklaas = pd.read_csv('cijfers_sintniklaas.csv', sep=';')

In [1024]:
sintniklaas.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [1025]:
sintniklaas = sintniklaas.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [1026]:
sintniklaas = sintniklaas.fillna(0)

In [1027]:
sintniklaas.aantal = sintniklaas.aantal.astype(int)

In [1028]:
sintniklaas.insert(0, 'gemeente', 'Sint-Niklaas (Sint-Niklaas)')

In [1029]:
steenokkerzeel = pd.read_csv('cijfers_steenokkerzeel.csv', sep=';')

In [1030]:
steenokkerzeel.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [1031]:
steenokkerzeel = steenokkerzeel.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [1032]:
steenokkerzeel = steenokkerzeel.fillna(0)

In [1033]:
steenokkerzeel.aantal = steenokkerzeel.aantal.astype(int)

In [1034]:
steenokkerzeel.insert(0, 'gemeente', 'Steenokkerzeel')

In [1035]:
zaventem = pd.read_csv('cijfers_zaventem.csv', sep=';')

In [1036]:
zaventem.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [1037]:
zaventem = zaventem.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [1038]:
zaventem = zaventem.fillna(0)

In [1039]:
zaventem.aantal = zaventem.aantal.astype(int)

In [1040]:
zaventem.insert(0, 'gemeente', 'Zaventem')

In [1041]:
zoutleeuw = pd.read_csv('cijfers_zoutleeuw.csv', sep=';')

In [1042]:
zoutleeuw.rename(columns={'2000':2000, '2009':2009, '2010':2010, '2011':2011, '2012':2012, '2013':2013, '2014':2014, '2015':2015, '2016':2016, '2017':2017, '2018':2018, '2019':2019, 'Unnamed: 0':'misdrijf'}, inplace=True)

In [1043]:
zoutleeuw = zoutleeuw.melt(id_vars=['misdrijf'], value_vars=[2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='jaar', value_name='aantal')

In [1044]:
zoutleeuw = zoutleeuw.fillna(0)

In [1045]:
zoutleeuw.aantal = zoutleeuw.aantal.astype(int)

In [1046]:
zoutleeuw.insert(0, 'gemeente', 'Zoutleeuw')

In [1047]:
alles = pd.concat([arendonk, eeklo, heusden, houthelch, langpoel, leopoldsburg, lommel, mechelen, ranst, scherpenheuvel, steenokkerzeel, sintniklaas, zaventem, zoutleeuw])

In [1048]:
new = new.merge(alles, on=['gemeente', 'misdrijf', 'jaar'], how='left')

In [1049]:
new = new.fillna(0)

In [1050]:
new.aantal = new.aantal.astype(int)

In [1051]:
new.to_csv('misdrijven.csv', sep=';', index=False)

In [1052]:
subklasse = pd.read_csv('asielcentra_sub.csv', sep=';')

In [1053]:
subklasse.head()

,gemeente,jaar,misdrijf,subklasse
0,Arendonk,2000,Beschadigen van Eigendom,Vandalisme
1,Arendonk,2000,Beschadigen van Eigendom,"Vernieling, onbruikbaarmaking, beschadiging"
2,Arendonk,2000,Beschadigen van Eigendom,Onopzettelijke brandstichting
3,Arendonk,2000,Beschadigen van Eigendom,Opzettelijke brandstichting
4,Arendonk,2000,Beschadigen van Eigendom,Opzettelijke vernieling door ontploffing

In [1054]:
subklasse = subklasse.merge(alles, left_on=['gemeente', 'jaar', 'subklasse'], right_on=['gemeente', 'jaar', 'misdrijf'], how='left').drop(columns=['misdrijf_y'])

In [1055]:
subklasse.rename(columns={'misdrijf_x':'misdrijf'}, inplace=True)

In [1056]:
subklasse.aantal = subklasse.aantal.fillna(0)

In [1057]:
subklasse.aantal = subklasse.aantal.astype(int)

In [1058]:
subklasse.to_csv('misdrijven_sub.csv', sep=';', index=False)

In [1059]:
figuren = pd.read_csv('asielcentra_fig.csv', sep=';')

In [1060]:
figuren.head()

   gemeente  jaar                     type          figuur
0  Arendonk  2000  Diefstal vervoermmiddel    Autodiefstal
1  Arendonk  2000  Diefstal vervoermmiddel    Motodiefstal
2  Arendonk  2000  Diefstal vervoermmiddel      Carjacking
3  Arendonk  2000  Diefstal vervoermmiddel     Homejacking
4  Arendonk  2000  Diefstal vervoermmiddel  Garagediefstal

In [1061]:
figuren = figuren.merge(alles, left_on=['gemeente', 'jaar', 'figuur'], right_on=['gemeente','jaar', 'misdrijf'], how='left').drop(columns=['misdrijf'])

In [1062]:
figuren.aantal = figuren.aantal.fillna(0).astype(int)

In [1063]:
figuren.to_csv('misdrijven_fig.csv', sep=';', index=False)