In [43]:
import pandas as pd

In [2]:
df = pd.read_csv('noise_day.csv', sep=';')

In [3]:
df.head()

  meetstation        datum decibel overdag
0   Rotselaar  24 februari            51,8
1   Rotselaar  25 februari            51,7
2   Rotselaar  26 februari            50,9
3   Rotselaar  27 februari            50,5
4   Rotselaar  28 februari            48,4

In [7]:
df['decibel overdag'] = df['decibel overdag'].astype(str).str.replace(',', '.').astype(float)

In [10]:
df = df[['datum', 'meetstation', 'decibel overdag']]

In [11]:
df.to_csv('noise_day.csv', index=False)

In [2]:
fd = pd.read_csv('noise_night.csv', sep=';')

In [4]:
fd.head()

  meetstation        datum decibel 's nachts
0   Rotselaar       24-Feb              43,4
1   Rotselaar  25 februari              48,3
2   Rotselaar  26 februari              45,8
3   Rotselaar  27 februari              47,9
4   Rotselaar  28 februari              44,8

In [5]:
fd = fd[['datum', 'meetstation', "decibel 's nachts"]]

In [7]:
fd["decibel 's nachts"] = fd["decibel 's nachts"].astype(str).str.replace(',', '.').astype(float)

In [8]:
fd.to_csv('noise_night.csv', index=False)

In [40]:
nn = pd.read_csv('noise_data/noise_all.csv', sep=';')

In [41]:
nn.head()

         datum meetstation  meting_day  meting_night
0  24 februari   Rotselaar         140             8
1  25 februari   Rotselaar         130            14
2  26 februari   Rotselaar         129            11
3  27 februari   Rotselaar         122            17
4  28 februari   Rotselaar          65            10

In [6]:
nn = nn[['datum', 'meetstation', 'meting_day', 'metingen_night']]

In [19]:
nn = nn.fillna(0)

In [38]:
nn['meting_day'] = nn['meting_day'].astype(str).str.replace(',', '.').astype(float).astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [21]:
nn['metingen_night'] = nn['metingen_night'].astype(str).str.replace(',', '.').astype(float).astype(int)

In [42]:
nn.to_csv('noise_data/noise_all.csv', index=False)