In [1]:
import pandas as pd 
import pyreadstat

In [6]:
df, meta = pyreadstat.read_sav('Sluikstorters_bestand.sav')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535 entries, 0 to 1534
Data columns (total 18 columns):
Geboortedatumindatumformaat             1535 non-null float64
Minderjarigomschrijving                 1535 non-null object
Geslachtomschrijving                    1535 non-null object
Nationaliteit                           1404 non-null object
Gemeenteovertreder                      1465 non-null object
Landovertreder                          1468 non-null object
NISwijkcodewoonplaatsovertreder         1531 non-null object
NISwijknaamwoonplaatsovertreder         1531 non-null object
GemeentePVO                             1535 non-null object
NIScodePVO                              1349 non-null object
NISnaamPVO                              1349 non-null object
AantalGASpvsVervuilenopenbarewegooit    1535 non-null float64
Geboortejaar                            1535 non-null float64
Leeftijd                                1535 non-null float64
Woonplaats_stortplaats                  1535 non-null float64
Leeftijd_cat                            1535 non-null float64
Aantal_boetes                           1535 non-null float64
filter_$                                1535 non-null float64
dtypes: float64(8), object(10)
memory usage: 216.0+ KB

In [8]:
df.head()

,Geboortedatumindatumformaat,Minderjarigomschrijving,Geslachtomschrijving,Nationaliteit,Gemeenteovertreder,Landovertreder,NISwijkcodewoonplaatsovertreder,NISwijknaamwoonplaatsovertreder,GemeentePVO,NIScodePVO,NISnaamPVO,AantalGASpvsVervuilenopenbarewegooit,Geboortejaar,Leeftijd,Woonplaats_stortplaats,Leeftijd_cat,Aantal_boetes,filter_$
0,1.196700e+10,Meerderjarig,M,Turkije,Antwerpen,België,C41-,DAMBRUGGESTR-N.(STATIONSW.),Antwerpen,C41-,DAMBRUGGESTR-N.(STATIONSW.),4.0,1962.0,54.0,1.0,4.0,2.0,1.0
1,1.099423e+10,Meerderjarig,M,België,Antwerpen,België,S04-,HET LAAR,Antwerpen,S31-,ST.-ANNA,1.0,1931.0,85.0,0.0,5.0,1.0,0.0
2,1.174988e+10,Meerderjarig,V,België,Antwerpen,België,H44-,STUIVENBERGPLEIN (NOORDWIJK),Antwerpen,H44-,STUIVENBERGPLEIN (NOORDWIJK),2.0,1955.0,61.0,1.0,5.0,2.0,1.0
3,1.159082e+10,Meerderjarig,V,België,Antwerpen,België,J83-,DUBOISSTRAAT (NOORDWIJK),Antwerpen,H43-,ST.-JANSPLEIN-TRAPSTR.(N.WIJK),1.0,1950.0,66.0,0.0,5.0,1.0,0.0
4,1.185745e+10,Meerderjarig,M,België,Antwerpen,België,H83-,SLACHTHUISWIJK (DAM-SCHIJNP),Antwerpen,H83-,SLACHTHUISWIJK (DAM-SCHIJNP),2.0,1958.0,58.0,1.0,5.0,2.0,1.0

In [9]:
df, meta = pyreadstat.read_sav('Sluikstortmeldingen.sav')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 13 columns):
Maand                       105 non-null float64
Properheid_stad             105 non-null float64
Properheid_straat           105 non-null float64
Overlast_rommel             105 non-null float64
Sluikstortmeldingen         105 non-null float64
Opruimmelingen              105 non-null float64
stad_nietproper_aantal      105 non-null float64
stad_proper_aantal          105 non-null float64
straat_nietproper_aantal    105 non-null float64
straat_proper_aantal        105 non-null float64
rommel_geenoverlast         105 non-null float64
rommel_overlast             105 non-null float64
filter_$                    105 non-null float64
dtypes: float64(13)
memory usage: 10.8 KB

In [12]:
df.head()

,Maand,Properheid_stad,Properheid_straat,Overlast_rommel,Sluikstortmeldingen,Opruimmelingen,stad_nietproper_aantal,stad_proper_aantal,straat_nietproper_aantal,straat_proper_aantal,rommel_geenoverlast,rommel_overlast,filter_$
0,200912.0,0.457494,0.319529,0.521858,1061.0,1579.0,174.0,206.0,121.0,258.0,177.0,193.0,0.0
1,201001.0,0.432096,0.309928,0.483517,1069.0,1702.0,126.0,165.0,90.0,201.0,149.0,140.0,0.0
2,201002.0,0.466939,0.331269,0.552349,938.0,1506.0,216.0,246.0,153.0,309.0,203.0,251.0,0.0
3,201003.0,0.467107,0.298364,0.510931,1144.0,1836.0,241.0,275.0,154.0,361.0,249.0,260.0,0.0
4,201004.0,0.411560,0.259840,0.512218,1421.0,2100.0,184.0,263.0,117.0,332.0,218.0,228.0,0.0